@import "Ginkgo";
@import "bootstrap/bootstrap";
@import "components/color";
@import "components/input";
@import "components/link";
@import "components/btn";


// 0321 .title-boxs, title-bread 從 header.scss 搬過來的(header.scss 裡的還保留)
.title-boxs {
	display: inline-block;
	width: 100%;
	height: 250px;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: cover;

	&.account-title-bg {
			background-image: url(../../images/title-bg-pic/bg-Account.webp);

			@include media-breakpoint-down(xl) {
				background-image: url(../../images/title-bg-pic/mob-bg-Account.webp);
			}
	}

	@include media-breakpoint-down(xl) {
		height: 150px;
	}
}

.title-bread {
	font-size: .85rem; 
	justify-content: center;

	.title-bread-item {

		> a {
			color: $white;

			&:hover {
				text-decoration: underline !important;
			}
		}

		&.item-active {
			color: $white;
		}

		&:before {
			float: left;
			padding-right: 0.5rem;
			padding-top: 4px !important;
			color: $white !important;
	   }
	}
}

.account-pointsBoxs {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: $blue-700;
	padding: .5rem 1rem;
	border-radius: 0.25rem;
	margin-bottom: 1rem;
	color: $white;
	font-size: 1.25rem;

	@include media-breakpoint-down(md) {
		display: none;
	}
}

.account-userName {
	display: inline-block;
	width: 100%;
	line-height: 1.5;
	font-size: 1.25rem;
	color: $blue-700;

	&:before {
		display: inline-block;
		content: '';
		height: 35px;
		width: 5px;
		background-color: $main-red;
		margin-right: 15px;
	}
}

.account-memberBoxs {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  border-radius: 0.25rem;
  padding: 1rem;
  border: 1px solid #B3B7C6;

  @include media-breakpoint-down(md) {
		text-align: left;
	}

	> h5 {
		display: inline-block;
		width: 100%;
		color: $blue-700;
		text-align: center;
		font-size: 1.25rem;
		font-weight: 600;
		margin-bottom: 1rem;
	}
}

.account-redLine {
	border-bottom: 3px solid $main-red;
}

.account-grayLine {
	border-bottom: 3px solid $gray-500;
}

.accoutn-contact-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 18px;
  color: white;
  text-align: center;
  background-color: $blue-005;
  border-radius: 10px;
  margin-right: 5px;
}

.accoutn-phoneBoxs {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;

	.w-phone01, .w-phone02, .w-phone03, .w-add-25, .w-add-50, .w-add-100 {
		display: inline-block !important;
	}

	.w-phone01 {
		width: 15%;
		min-width: 45px;
	}

	.w-phone02 {
		width: 30%;
		min-width: 160px;
	}

	.w-phone03 {
		width: 20%;
		min-width: 70px;
	}

	.w-add-25 {
		width: 25%;

		@include media-breakpoint-down(md) {
			width: 48%;
		}
	}

	.w-add-50 {
		width: 49%;
	}

	.w-add-100 {
		width: 100%;
	}

	@include media-breakpoint-down(md) {
		margin-top: 10px;
	}
}

.account-socialBtn-Line, .account-socialBtn-google, .account-socialBtn-face {
	background-color: $gray-600;
	color: $white;
	font-size: 1rem;
	font-weight: 600;
	text-align: left;
	border-radius: 0.3rem;
	align-items: center;
	padding: 1rem 1.5rem;
	min-width: 140px;
}

.account-socialBtn-Line {
	&:hover, &.active {
		background-color: $other-003;
	}
}

.account-socialBtn-google {
	&:hover, &.active {
		background-color: $main-red;
	}
}

.account-socialBtn-face {
	&:hover, &.active {
		background-color: $blue-004;
	}
}


.account-tableBoxs {
	display: flex;
	width: 100%;
	padding: .5rem 1rem;
	flex-wrap: wrap;

	@include media-breakpoint-down(md) {
		padding: .2rem 1rem;
	}
}

.account-tableTtpe {
	font-size: 1rem;
	color: $blue-700;
	font-weight: 300;
	text-align: center;

	@include media-breakpoint-down(md) {
		text-align: left;

		&:before {
			display: inline-block;
			content: attr(title);
			color: $gray-600;
			font-weight: 400;
		}
	}
}

.account-tableTtpe-v2 {
	font-size: 1rem;
	color: $blue-700;
	font-weight: 300;
	text-align: center;

	@include media-breakpoint-down(md) {
		text-align: left;

		&:before {
			display: block;
			content: attr(title);
			color: $gray-600;
			font-weight: 400;
			margin-bottom: 5px;
		}
	}
}

.account-iconBig {
	font-size: 7rem;
}

.ac-w50 {
	width: 50%;

	@include media-breakpoint-down(md) {
		width: auto;
	}
}

.ac-m50 {
	width: auto;

	@include media-breakpoint-down(md) {
		width: 46%;
	}
}

.breadcrumb-item + .breadcrumb-item {
	&.ac-bread {
		&:before {
	    float: left;
	    padding-right: 0.5rem;
	    padding-top: 3px;
	    padding-top: 8px !important;
	    color: $white !important;
   }
	}
}

.nav-item {
	.nav-link {
		&.ac-nav-link {
			width: 95% !important;
			padding: 10px 0;
			color: #4B4B4B;
			font-size: 1.125rem;
			background-color: $gray-300;
			border: 1px solid $gray-400;
			margin: 0 auto;

			&.active {
				color: $white;
				background-color: $blue-700;
				border: 1px solid $blue-700;
			} 
		}
	}
}

.pic-gray {
	-webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}





