@import "Ginkgo";
@import "bootstrap/bootstrap";
@import "components/color";
@import "components/input";
@import "components/link";
@import "components/btn";
@import "layout/header";
@import "layout/footer";


main {
	position: relative;
}
.title-boxs {
	display: inline-block;
	width: 100%;
	height: 250px;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: cover;

	&.title-bg {
			background-image: url(../images/title-bg-pic/bg-CustomerService.webp);
			background-position: center;
			background-size: cover;

			@include media-breakpoint-down(xl) {
				background-image: url(../images/title-bg-pic/bg-CustomerService.webp);
			}
	}

	@include media-breakpoint-down(xl) {
		height: 150px;
	}
}

.title-bread {
	font-size: .85rem; 
	justify-content: center;

	.title-bread-item {

		> a {
			color: $white;

			&:hover {
				text-decoration: underline !important;
			}
		}

		&.item-active {
			color: $white;
		}

		&:before {
			float: left;
			padding-right: 0.5rem;
			padding-top: 4px !important;
			color: $white !important;
	   }
	}
}

.sideMenu {
	transition: all .1s ease-in-out;

	@include media-breakpoint-down(lg) {
		position: sticky;
		top: 105px;
		padding: 0;
		z-index: 1051;
	}

	aside.aside_widget {
		position: relative;

		.title_widget {
			border-radius: 6px 6px 0 0;
			// background-color: #004b8d;
			@include media-breakpoint-down(lg) {
				border-radius: 0;
			}

			h2 {
				margin-bottom: 0;
				padding: 1rem 0;
				font-size: 20px;
				font-weight: 600;
				color: #fff;
				text-align: center;

				@include media-breakpoint-down(lg) {
					padding: 1rem .75rem;
					text-align: left;
					border-radius: 0;
				}
			}
		}
			
		.web_menu_widget {
			.accordion {
				.accordion-item {
					// border-bottom: 1px dashed #d8d8d8 !important;
	
					&:first-of-type {
						border-radius: 0;
					}
	
					&:last-of-type {
						border-bottom: 0 !important;
						
						.side_widget_title {
							border-radius: 0 0 6px 6px;
						}
					}
	
					.accordion-header {
						.side_widget_title {
							position: relative;
							font-size: 16px;
							font-weight: 600;
							color: rgba(26, 26, 26, 0.6);;
							background-color: $white;
							box-shadow: none; 
							
							&:hover {

								img {
									&:nth-of-type(1) {
										display: none;
									}

									&:nth-of-type(2) {
										display: inline-block;
									}	
								}
							}
					
							img {
								&:nth-of-type(2) {
									display: none;
								}
							}
	
							&:after {
								content: unset;
							}
	
							&[aria-expanded="true"] {
								color: #36558b;
								padding-bottom: .5rem;
	
								img {
									&:nth-of-type(1) {
										display: none;
									}	

									&:nth-of-type(2) {
										display: inline-block;
									}	
								}	
							}
						}
					}
	
					.accordion-body {
						padding: 0 20px 0.5rem 24px;
						// padding: .5rem 20px;
						// background-color: rgba(238, 238, 238, 0.5);
	
						.ul_li_links {
							padding-left: calc(.5rem + 10px);
							margin-bottom: 0;
							list-style: none;
	
							li {
								
								&.active {
									a {
										color: #36558b;
									}
								}

								a {
									font-size: 15px;
									line-height: 2.73;
									color: #737373;
	
									&:hover {
										color: #36558b; 
									}
								}
							}
						}
					}
				}
			}
		}

		.mobile_menu_widget {
			background-color: $white;
			box-shadow: 0 2px 4px 0 rgba(228, 228, 228, 0.5);
		}
		

		.ad_widget {
			.swiper-pagination {
				bottom: 0;

				.swiper-pagination-bullet-active {
					background-color: $main-red;
				}
			}
		}
	}
}








