@import "Ginkgo";
@import "bootstrap/bootstrap";
@import "components/color";
@import "components/input";
@import "components/link";
@import "components/btn";
@import "layout/header";
@import "layout/footer";
@import "components/cart";


main {
	position: relative;
	z-index: 1;

	.closeSideBtn{
		display: flex;
		flex-direction: column;
		width: 30px;
		font-size: 13px;
		line-height: 1.23;
		color: $white;
		transform: translateY(15vh);
		cursor: pointer;

		i {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			padding: .5rem .25rem;
			background-color: $main-yellow;
			font-size: 13px;
			border-radius: 6px 0 0 0;
		}

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			padding: .5rem 0;
			font-size: 16px;
			font-weight: 500;
			border-radius: 0 0 0 6px;
			background-color: $gray-600;
			writing-mode: vertical-rl;
			text-orientation: upright;
		}
	}

	.openSideBtn{
		display: none;
		flex-direction: column;
		width: 30px;
		font-size: 13px;
		line-height: 1.23;
		color: $white;
		transform: translateY(15vh);
		cursor: pointer;

		i {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			padding: .5rem .25rem;
			background-color: $main-yellow;
			font-size: 13px;
			border-radius: 6px 6px 0 0;
		}

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			padding: .5rem 0;
			font-size: 16px;
			font-weight: 500;
			border-radius: 0 0 6px 6px;
			background-color: $blue-700;
			writing-mode: vertical-rl;
			text-orientation: upright;
		}

	}

	.sideMenu {
		// position: relative;
		transition: all .1s ease-in-out;

		@include media-breakpoint-down(lg) {
			position: sticky;
			top: 112px;
			padding: 0;
			z-index: 1051;
		}

		&.hide {
			opacity: 0;
			width: 0;
			padding: 0;
			transition: width .1s ease-in-out;
		}

		.sticky-top {
			top: 20px;
	
			@include media-breakpoint-down(lg) {
				top: 112px;
			}
		}

		aside.aside_widget {
			position: relative;

			@include media-breakpoint-up(lg) {
				position: sticky;	
				top: 24px;
			}
	
			.title_widget {
				border-radius: 6px 6px 0 0;
				background-color: #004b8d;
				@include media-breakpoint-down(lg) {
					border-radius: 0;
				}

				h2 {
					margin-bottom: 0;
					padding: 1rem 0;
					font-size: 20px;
					font-weight: 600;
					color: #fff;
					text-align: center;

					@include media-breakpoint-down(lg) {
						padding: 1rem .75rem;
						text-align: left;
						border-radius: 0;
					}
				}
			}
				
			.web_menu_widget {
				.accordion {
					.accordion-item {
						border-bottom: 1px dashed $gray-200 !important;
		
						&:first-of-type {
							border-radius: 0;
						}
		
						&:last-of-type {
							border-bottom: 0 !important;
							
							.side_widget_title {
								border-radius: 0 0 6px 6px;
							}
						}
		
						.accordion-header {
							.side_widget_title {
								position: relative;
								font-size: 16px;
								font-weight: 600;
								color: $gray-600;
								background-color: rgba(238, 238, 238, 0.5);
								box-shadow: none; 
								
								&:hover {
									img {
										&:nth-of-type(1) {
											display: none;
										}

										&:nth-of-type(2) {
											display: inline-block;
										}	
									}
								}
						
								img {				
									margin-bottom: 0.125rem;					
									
									&:nth-of-type(2) {
										display: none;
									}
								}
		
								&:after {
									content: unset;
								}
		
								&[aria-expanded="true"] {
									color: #36558b;
									padding-bottom: .5rem;
		
									img {
										&:nth-of-type(1) {
											display: none;
										}	

										&:nth-of-type(2) {
											display: inline-block;
										}	
									}	
								}
							}
						}
		
						.accordion-body {
							padding: .5rem 20px;
							background-color: rgba(238, 238, 238, 0.5);
		
							.ul_li_links {
								padding-left: calc(.5rem + 10px);
								margin-bottom: 0;
								list-style: none;
		
								li {
									&:hover, &.active {
										a {
											color: #36558b; 	
										}
									}
									a {
										font-size: 15px;
										line-height: 2.73;
										color: #737373;
		
										// &:hover {
										// 	color: #36558b; 
										// }
									}
								}
							}
						}
					}
				}
			}

			.mobile_menu_widget {
				background-color: $white;
				
				.dropdown {
					.dropdown-menu {
						width: 100%;
					}
				}
			}
	
			.ad_widget {
				.swiper-pagination {
					bottom: 0;
	
					.swiper-pagination-bullet-active {
						background-color: var(--main-red);
					}
				}
			}
		}
	}

	.side_left_menu_mobile {
		position: sticky;
		top: 112px;
		z-index: 1051;
	}

	#product-lists {
		transition: width .1s ease-in-out;

		&.col-lg-9 {
			.package-wrapper {
				@include media-breakpoint-down(lg) {
					position: sticky;
					top: 221px;
					z-index: 1050;
					background-color: $white;
				}

				.card-body {
					.form-select {
						font-size: 15px;
						background-color: $gray-100;
						padding: 0.375rem 1.5rem 0.375rem 0.75rem;
					}
				}
			}
		}
	}
	

	.nav-breadcrumb {
		position: relative;
		.breadcrumb {
			.breadcrumb-item {
				font-size: 15px;
				font-weight: 500;

				&:first-child {
					position: relative;
					padding-left: .5rem;

					&:before {
						content: '';
						position: absolute;
						display: inline-block;
						left: 0;
						width: 3px;
						height: 100%;
						background-color: $main-blue;
					}
				}

				a {
					color: $main-blue;
				}				

				&.active {
					color: $main-blue;
				}
			}
		}
	}

	.action-wrapper {
		
		.border-line	{
			border-bottom: 1px solid $gray-100;
		}

		.filter-area {
			.filter-tag {
				display: flex;
				flex-wrap: wrap;
				padding-left: 0;
				list-style: none;

				li {
					padding: .5rem 1rem;
					margin-top: .5rem;
					margin-right: .5rem;
					font-size: 16px;
					color: $gray-600;
					border: 1px solid $gray-600;
					border-radius: 5px;
					cursor: pointer;

					&.active {
						border-color: #36558b;
						color: #36558b;
					}
					
				}
			}
		}

		.sort-area {
			.nav-item {
				button {
					position: relative;
					padding: .5rem;
				
					&:hover, &.active {

						img {
							&:nth-of-type(1) {
								display: none;
							}

							&:nth-of-type(2) {
								display: inline-block;
							}	
						}
					}

					img {
						&:nth-of-type(2) {
							display: none;
						}
					}
				}
			}
		}
	}

	.package-wrapper {
		.package_header {
			position: relative;
			
			p {
				display: flex;
				align-items: center;
				color: $blue-004;

				span {
					color: $gray-600;

					> span {
						&:first-of-type {
							color: #cd0000;
						}
						
						&:last-of-type {
							color: $main-red;
						}
					}
				}
			}

			a {
				background-color: $main-red;
				border-bottom: 1px solid $main-red;
				border-radius: 5px;
				color: $white;

				&.no_size_color {
					background-color: $main-blue;
					border-bottom: 1px solid $main-red;	
				}
			}
		}

		.package_body {
			.trash-btn {
				position: absolute;
				top: .5rem;
				right: .5rem;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 35px;
				height: 35px;
				background-color:$other-001;
				border-radius: 50%;
				color: $white;
			}
	
			.card-body {
				.form-select {
					background-color: $gray-100;
				}
			}
		}

		.package-area-m {
			position: relative;
			
			p {
				display: flex;
				align-items: center;
				color: $blue-004;
			}

			span {
				color: $gray-600;

				> span {
					&:first-of-type {
						color: #cd0000;
					}
					
					&:last-of-type {
						color: $main-red;
					}
				}
			}

			a {
				position: absolute;
				top: 0;
				right: 0;
				display: inline-block;
				background-color: $main-red;
				border-radius: 0 5px 5px 0;
				height: 100%;
				color: $white;
				writing-mode: vertical-rl;
				text-orientation: upright;
				letter-spacing: 1.1px;
			}	
		}

		.side_package {
			position: fixed;
			top: 40%;
			transform: translateY(-50%);
			right: -80px;
			width: 80px;
			text-align: center;
			z-index: 1040;
			transition: right .5s ease-in-out;

			&.show {
				right: 1rem;
				transition: right .5s ease-in-out;
			}

			div {
				&:first-child {
					background-color: #36558b;
					border-radius: 5px 5px 0 0;
				}

				&:last-child {
					background-color: $main-yellow;
					border-radius: 0 0 5px 5px;
				}
			}

			span {
				color: $white;
				margin-bottom: 0.5em;
			}

			figure {
				margin-bottom: .5rem;

				&:last-child {
					margin-bottom: 0;
				}
			}

			p {
				color: $white;
			}
		}	
	}

	.products-wrapper {
		.tab-content {
			padding: 1.5rem 0;
	
			.tab-pane {
				.pagination {
					justify-content: flex-end;

					li {
						width: 32px;
						height: 32px;

						&:not(:last-child) {
							margin-right: .5rem;
						}

						&.active {
							.page {
								color: $blue-004;
								border-color: $blue-004;
							}
							
						}
						.page {
							display: flex;
							align-items: center;
							justify-content: center;
							width: inherit;
							height: inherit;
							
							// padding: .5rem;
							font-size: 14px;
							color: $other-001;
							border: 1px solid $other-001;
							border-radius: 3px;
						}
					}
					
				}
			}
		}
	}
}

// footer {
// 	position: relative;
// 	z-index: 0;
// }


