@import "Ginkgo";
@import "bootstrap/bootstrap";
@import "components/color";
@import "components/input";
@import "components/link";
@import "components/btn";
@import "public";
@import "layout/header";
@import "layout/footer";
@import "components/cart";

main {
	position: relative;
	z-index: 0;

	.detail_breadcrumb {
		background-color: rgba(238, 238, 238, 0.5);

		.nav-breadcrumb {
			position: relative;
	
			.breadcrumb {
				.breadcrumb-item {
					font-size: 15px;
					font-weight: 500;
	
					a {
						color: $main-blue;
					}				
	
					&.active {
						color: $main-red;
					}
				}
			}
		}
	}
	
	.product_detail {

		.sticky-lg-top {
			top: 24px;
		}

		.detail_imgs {
			z-index: 0;
		}

		.detail_content {
			z-index: 1;
		}

		.swiper {
			width: 100%;
			height: 100%;

			@include media-breakpoint-down(lg) {
				padding: 1rem 0;
			}
			
			&.thumnanil-swiper {
				.swiper-slide {
					&:not(.swiper-slide-thumb-active) {
						opacity: .4;
					}
				}
				
			}
			
			&.product-img-swiper {
				.swiper-slide {
					&:not(.swiper-slide-active) {
					}
				}

				.swiper-scrollbar {
					top: 98%;
				}

				.swiper-pagination {
					display: flex;
					flex-direction: column;
					justify-content: center;

					&.swiper-pagination-horizontal {	
						top: 0;
						right: 0;
						width: 4%;
						height: 100%;
						left: unset;						
					}

					.swiper-pagination-bullet {
						width: 10px;
						height: 10px;
						margin: .5rem 0;
						border: 1px solid $white;
						background-color: transparent;
						opacity: 1;
	
						&.swiper-pagination-bullet-active {
							background-color: $white;
						}
					}
				}
			}
		}

		.detail_title {
			h3 {
				display: flex;
				align-items: center;

				.detail_no {
					color: rgba(17, 28, 71, 0.8);
				}
			}
			
		}



		.detail_price {
			p {
				display: flex;
				align-items: center;
				&:first-of-type {
					color: #7d7d7d;
				}

				&:last-of-type {
					color: #e40000;
				}
			}
			span {
				display: flex;
				align-items: center;
				
				&:before {
					content: "NT$ ";
				}	
			}
		}

		.detail_package {
			position: relative;
			padding-left: 1rem;	

			&:before {
				content: '';
				position: absolute;
				left: 0;
				display: inline-block;
				width: 5px;
				top: 50%;
				height: 110%;
				transform: translateY(-50%);
				background-color: #4773c0;
			}

			p {
				display: flex;
				align-items: center;
				color: $blue-004;

				@include media-breakpoint-down(lg) {
					display: block;
				}

				> span {
					display: inline-flex;
					align-items: center;
					color: $gray-600;

					@include media-breakpoint-down(lg) {
						display: flex;
					}


					&:before {
						content: '| ';
						margin: 0 .5rem;
						vertical-align: middle;

						@include media-breakpoint-down(lg) {
							content: none;
						}
					}

					> span {
						margin: 0 .5rem;

						&:first-of-type {
							color: #cd0000;
						}
						
						&:last-of-type {
							color: $main-red;
						}
					}
				}
			}

			a {
				display: flex;
				justify-content: space-between;
				align-items: center;
				background-color: $main-red;
				border-radius: 22.5px;
				width: 60%;
				text-align: left;
				color: $white;

				@include range-width(0, 451px) {
					width: 100%;
				}
			}
		}

		.detail_colors {
			
			p {
				color: #111c47;
			}
			
			
			.color-item {
				position: relative;
				display: inline-block;
				cursor: pointer;

				&:hover {
					.tooltipBox {
						visibility: visible;
						opacity: 1;
					}
				}

				&.active {
					.color-btn {
						border-color: #abaaaa;
					}
					
				}

				.color-btn {
					display: flex;
					align-items: center;
					justify-content: center;
					// display: inline-block;
					padding: 2px;
					width: 40px;
					height: 40px;
					border: 1px solid transparent;
					border-radius: 50%;

					span {
						display: inline-block;
						width: 34px;
						height: 34px;
						border-radius: 50%;

					}
				}

				.tooltipBox {
					visibility: hidden;
					position: absolute;
					bottom: 125%;
					left: 50%;
					transform: translateX(-50%);
					// margin-left: -60px;
					padding: .5rem;
					width: 100px;
					color: #3f3f3f;
					background-color: #fff;
					border-radius: 6px;
					text-align: center;
					opacity: 0;
					transition: opacity 0.3s;
					z-index: 1;

					&:after {
						content: "";
						position: absolute;
						top: 100%;
						left: 50%;
						margin-left: -5px;
						border-width: 5px;
						border-style: solid;
						border-color: #555 transparent transparent transparent;
					}
				}
			}
		}

		.detail_sizes {

			.size_title {
				p {
					color: #111c47;
				}

				.size_chart {
					display: inline-flex;
					align-items: center;
					font-size: 16px;
					color: #7d7d7d;
					border-bottom: 1px solid #979797;

					> i {
						margin-left: .5rem;
					}
				}
			}

			.size-item {
				position: relative;
				display: inline-block;
				cursor: pointer;

				&.active {
					.size-btn {
						span {
							color: $white;
							background-color: $blue-006;
						}
					}
				}

				&.sold_out {
					.size-btn {
						span {
							color: #c4c4c4;
							background-color: #eaeaea;
							text-decoration: line-through;
						}
					}
				}

				.size-btn {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 2px;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					

					span {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 36px;
						height: 36px;
						border-radius: 50%;
						background-color: #b3b7c6;
						color: $white;
					}
				}
			}
		}

		.detail_quantity {
			p {
				color: #111c47;
			}
		}

		.detail_action {
			button {
				width: 100%;
				color: $white;

				&:focus {
					outline: none;
					box-shadow: none;
				}

				&.bg-1 {
					background-color: #36558b;
				}

				&.bg-2 {
					background-color: #e40000;
				}
				
				&.bg-3 {
					background-color: #b3b7c6;
				}
			}
		}

		.detail_socials {
			@include range-width(0, 769px) {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			span {
				color: #111c47;
			}

			.socials-btn {
				font-size: 26px;
				color: #b3b7c6;

				&.bg-3 {
					background-color: #b3b7c6;
					color: $white;
				}
			}
		}

		.detail_info {
			border-top: 1px solid #36558b;
			border-bottom: 1px solid #d8d8d8;

			&:focus {
				outline: none;
				box-shadow: none;
			}

			.accordion-item {
				
				.accordion-header {

					.accordion-button {
						box-shadow: none;
						color: #111c47;
						background-color: transparent;
						&:focus {
							outline: none;
							box-shadow: none;
						}	
					}
				}
			}
		}

		.detail_recommend {
			h4 {
				padding: .5rem;
				color: #111c47;
				background-color: rgba(238, 238, 238, 0.5);
			}

			.recommend_wrapper {
				display: grid;
				justify-content: space-between;
				grid-gap: 1rem;
				grid-template-columns: repeat(3, 1fr);

				@include range-width(0, 451px) {
					grid-template-columns: repeat(2, 1fr);
				}

				.box {
					img {
						width: 100%;
					}

					p {
						color: #6b6b6b;
						margin-top: .5rem;
						padding-top: .5rem;
						border-top: 1px solid #efefef;
					}
				}
			}
		}
	} 

	.product_like {
		.like_title {
			background-color: $other-002;
			max-width: 1440px;
			margin: 0 auto;
			h3 {
				color: $white;
			}
		}

		.like-swiper {
			.likeWeb-button-prev {
				left: 0;
				width: inherit;
	
				&:before {
					content: "";
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 4px 8px 4px 0;
					border-color: transparent #959595 transparent transparent;
				}
	
				&:after {
					content: "";
					height: 100%;
					width: 2px;
					background-color: #959595;
					margin-left: .5rem;
				}
			}
	
			.likeWeb-button-next {
				right: 0;
				width: inherit;
				transform: rotate(180deg);
	
				&:before {
					content: "";
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 4px 8px 4px 0;
					border-color: transparent #959595 transparent transparent;
				}
	
				&:after {
					content: "";
					height: 100%;
					width: 2px;
					background-color: #959595;
					margin-left: .5rem;
				}
			}
	
			.likeMobile-button-prev {
				left: calc(100% -  70px);
				width: inherit;
	
				&:after {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 33px;
					height: 33px;
					background-color: rgba(17, 28, 71, 0.5);
					color: $white;
					border-radius: 5px;
					font-size: 16px;
					font-weight: bold;
				}
			}
	
			.likeMobile-button-next {
				right: 0;
				width: inherit;
	
				&:after {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 33px;
					height: 33px;
					background-color: rgba(17, 28, 71, 0.5);
					color: $white;
					border-radius: 5px;
					font-size: 16px;
					font-weight: bold;
				}
			}
		}
	}

	.product_recent {
		.recent_title {
			background-color: rgba(238, 238, 238, 0.5);
			max-width: 1440px;
			margin: 0 auto;
			
			h3 {
				color: $main-blue;
			}
		}	

		.recentWeb-button-prev {
			left: 0;
			width: inherit;

			&:before {
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 4px 8px 4px 0;
				border-color: transparent #959595 transparent transparent;
			}

			&:after {
				content: "";
				height: 100%;
				width: 2px;
				background-color: #959595;
				margin-left: .5rem;
			}
		}

		.recentWeb-button-next {
			right: 0;
			width: inherit;
			transform: rotate(180deg);

			&:before {
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 4px 8px 4px 0;
				border-color: transparent #959595 transparent transparent;
			}

			&:after {
				content: "";
				height: 100%;
				width: 2px;
				background-color: #959595;
				margin-left: .5rem;
			}
		}

		.recentMobile-button-prev {
			left: calc(100% -  70px);
			width: inherit;
			// transform: rotate(180deg);

			&:after {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 33px;
				height: 33px;
				background-color: rgba(17, 28, 71, 0.5);
				color: $white;
				border-radius: 5px;
				font-size: 16px;
				font-weight: bold;
			}
		}

		.recentMobile-button-next {
			right: 0;
			width: inherit;

			&:after {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 33px;
				height: 33px;
				background-color: rgba(17, 28, 71, 0.5);
				color: $white;
				border-radius: 5px;
				font-size: 16px;
				font-weight: bold;
			}
		}
	}
}


