@import "Ginkgo";
@import "components/color";



* {
  &, &:after, &:before {
    vertical-align: middle;
    @include box-sizing(border-box);
    @include font-smoothing(subpixel-antialiased);
  }
}


.icon-vertical {
	&:after, &:before {
		vertical-align: middle !important;
	}
}


html {
    font-size: 16px;
}

body {
    position: relative;

    display: inline-block;
    width: 100%;

    margin: 0;
    padding: 0;
    color: #232323;

    line-height: normal !important;

    font-family: Roboto, "Noto Sans TC", "Helvetica Neue", HelveticaNeue,
        Helvetica, Arial, sans-serif;
    font-weight: normal;

    text-size-adjust: none;
    -webkit-text-size-adjust: none;

    // background-color: black;
}

a {
    text-decoration: none !important;

    &:after,
    &:before {
        vertical-align: middle !important;
    }

    &:hover {
        text-decoration: underline;
    }
}

button, select{
	outline: none !important;
   	box-shadow: none !important;
    border-width: 0;
}

p {
    margin-bottom: 0;
}

img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

.container {
	@include range-width(1600px) {
		margin: 0 auto;
		max-width: 90%;
	}
}


.account-redLine {
    border-bottom: 3px solid $main-red;
}

.account-grayLine {
    border-bottom: 3px solid $gray-500;
}

.border-bottom-dotted {
    border-bottom: 1px dotted #dee2e6;
    background-color: transparent;
}

.border-bottom-dotted-Blue {
    border-bottom: 1px dotted #3D6DC1;
    background-color: transparent;
}


// google map
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; overflow: 
    hidden; max-width: 100%; 
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
}

// 切完版可以把這邊刪掉  ↓
.test-01 {border: 1px solid rgba(255, 0, 0, .3); height: 300px;}
.test-bg-01 {background-color: rgba(0, 128, 0, 0.2);}
.test-bg-02 {background-color: rgba(0, 0, 255, 0.2);}
// 切完版可以把這邊刪掉  ↑

