@import "Ginkgo";
@import "bootstrap/bootstrap";
@import "components/color";
@import "components/input";
@import "components/link";
@import "components/btn";
@import "layout/header";
@import "layout/footer";
@import "components/cart";


:root {
	--main-blue: #111c47;
    --main-red: #b10e0e;
	--main-white: #fff;
	--main-text: #232323;
	--menu-hover: #b3b7c6;
	--action-logout: #18336c;
	--main-category: #191919;
}

main {
	background-color: #f5f5f5;

	.check_label {
		position: relative;
		display: flex;
		align-items: center;
		cursor: pointer;
		font-size: 16px;
		width: 100%;
		border: 0;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		input[type="checkbox"] {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;

			&:checked ~ .checkmark {
				&:after {
					display: block;
				}
			}
		}

		.checkmark {
			position: relative;
			display: inline-block;
			margin-right: .5rem;
			width: 25px;
			height: 25px;
			border: 1px solid $gray-200;
			border-radius: 5px;
			background-color: white;

			&:after {
				content: "";
				position: absolute;
				left: 9px;
				top: 3px;
				display: none;
				border: solid #36558b;
				width: 7px;
				height: 15px;
				border: solid #36558b;
				border-width: 0 3px 3px 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}
	}

	.radio_label {
		position: relative;
		display: block;
		padding-left: 2rem;
		font-size: 18px;
		font-weight: 600;
		color: $gray-800;
		cursor: pointer;
		
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		input[type="radio"] {
			position: absolute;
			opacity: 0;
			cursor: pointer;

			&:checked ~ .radiomark {
				&:after {
					display: block;
				}
			}
		}

		.radiomark {
			position: absolute;
			top: 0;
			left: 0;
			width: 25px;
			height: 25px;
			background-color: $white;
			border: 1px solid $gray-200;
			border-radius: 50%;

			&:after {
				content: "";
				position: absolute;
				top: calc(50% - 6.5px);
				left: calc(50% - 6.5px);
				width: 13px;
				height: 13px;
				display: none;
				border-radius: 50%;
				background-color: $blue-006;

			}
		}
	}

	.shopping_cart_step {
		> .row {
			> .col {
				@include media-breakpoint-down(lg) {
					padding: 0;
				}

				h4 {
					margin: 0;
					padding: 1rem;
					font-size: 18px;
					color: $other-001;
					border-radius: 5px;
					background-color: $white;
					text-align: center;
		
					@include media-breakpoint-down(lg) {
						padding: 1rem .5rem;
						font-size: 14px;
						border-radius: 0;
					}
		
					&.active {
						color: $white;
						background-color: #3d5dc1;
					}
				}
			}
		}
	}

	.shopping_cart_list {
		padding: 1rem;
		background-color: $white;
		border-radius: 5px;

		.cart_list_tip {
			font-weight: 500;
			color: $main-red;

			@include media-breakpoint-down(lg) {
				margin: -1rem;
				background-color: $gray-100;
				padding-bottom: 1rem;
			}
		}

		.price_symbol {
			span {
				&:before {
					content: attr(data-symbol);	
				}

				&:empty {
					&:before {
						content: '-';	
					}
				}
			}
		}

		.cart_list_content {
			
			.web_cart {
				.content_header {
					background-color: $gray-100;
				}
	
				.content_body {
					> .row {
						border-bottom: solid 1px $gray-200;
					}
	
					.info_filed {
						> .row {
							@include media-breakpoint-down(xl) {
								align-items: center;
							}
						}
	
						h5 {
							font-size: 16px;
						}
	
						.change_btn {
							display: flex;
							justify-content: flex-start;
							align-items: center;
							font-size: 14px;
	
							span {
								color: $blue-006;
								text-decoration: underline;
								cursor: pointer;
							}
						}
					}
	
					.offer_field {
						align-self: flex-start;
	
						.offer_tag {
							padding: .3rem 1.5rem;
							font-size: 13px;
							font-weight: 500;
							color: $black;
							background-color: #daf6ff;
						}
	
						.offer_item {
							margin-top: 0.5rem;
							font-size: 16px;
							font-weight: 500;
							color: $main-red;
						}
					}
	
					.count_field {
						display: flex;
						align-items: center;
						justify-content: center;
	
						> * {
							flex: 1;
						}
	
						.count_btn {
							display: flex;
							align-items: center;
							justify-content: center;
							width: 30px;
							height: 30px;
							max-width: 30px;
							background-color: #f5f5f5;
						}
	
						.count_value {
							-webkit-appearance: none;
							margin: 0 .5rem;
							width: 50px;
							max-width: 50px;
							height: 30px;
							font-size: 16px;
							font-weight: 400;
							border: 0;
							border-radius: 0;
							outline: none;
							box-shadow: none;
							text-align: center;
							background-color: #f5f5f5;
							cursor: text;
						}
					}
	
					.original_field {
						font-size: 16px;
						font-weight: 500;
						color: $gray-600;
					}
	
					.discount_field {
						font-size: 16px;
						font-weight: 500;
						color: $blue-800;
					}
	
					.subtotla_field {
						font-size: 16px;
						font-weight: 500;
						color: $main-blue;
					}
	
					.action_field {
						button {
							width: 100%;
							font-size: 16px;
							&.btn-xxl {
								padding-right: .5rem;
								padding-left: .5rem;
							}
						}
					}
				}
			}

			.mobile_cart {
				.content_header {
					padding-bottom: .5rem;
					border-bottom: 1px solid $gray-100;
				}

				.offer_field {
					align-self: flex-start;

					.offer_tag {
						display: inline-block;
						margin-top: .5rem;
						padding: .3rem 1.5rem;
						width: 100%;
						font-size: 13px;
						font-weight: 500;
						color: $black;
						background-color: #daf6ff;

					}

					.offer_item {
						margin-top: 0.5rem;
						font-size: 16px;
						font-weight: 500;
						color: $main-red;
					}
				}

				.title_filed {

					h5 {
						font-size: 16px;
						color: $main-blue;
					}
				}

				.count_field {
					display: flex;
					align-items: center;
					margin: .5rem 0;

					> * {
						flex: 1;
						border-radius: 5px;
					}

					.count_btn {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 30px;
						height: 30px;
						max-width: 30px;
						background-color: #f5f5f5;
					}

					.count_value {
						-webkit-appearance: none;
						margin: 0 .5rem;
						width: 50px;
						max-width: 50px;
						height: 30px;
						font-size: 16px;
						font-weight: 400;
						border: 0;
						border-radius: 0;
						outline: none;
						box-shadow: none;
						text-align: center;
						background-color: #f5f5f5;
						cursor: text;
					}
				}

				.original_field {
					font-size: 16px;
					font-weight: 500;
					color: $gray-600;
				}

				.discount_field {
					font-size: 16px;
					font-weight: 500;
					color: $blue-800;
				}

				.subtotla_field {
					font-size: 16px;
					font-weight: 500;
					color: $main-blue;
				}

				.action_field {
					button {
						margin-top: .5rem;
						padding-right: .5rem;
						padding-left: .5rem;
						width: 100%;
					}
				}
			}
		}

		.cart_list_offer {
			padding: 1rem 0;
			
			&.used_offer {
				border-bottom: 1px solid $gray-200;
			}

			&.other_offer {
				padding-bottom: 0;

				.offer_tag {
					background-color: $gray-100;
				}
			}

			.offer_title {
				position: relative;
				display: flex;
				align-items: center;
				font-size: 20px;
				font-weight: 500;
				color: $main-blue;

				&:before {
					content: "";
					display: inline-block;
					margin-right: .5rem;
					width: 10px;
					height: 30px;
					background-color: $main-red;
				}	
			}

			.offer_tag {
				margin-right: 1rem;
				padding: .3rem 1.5rem;
				font-size: 13px;
				font-weight: 500;
				color: $black;
				background-color: #daf6ff;

				@include media-breakpoint-down(lg) {
					margin-right: 0;
					padding: .3rem .5rem;
				}
			}

			.offer_item {
				font-size: 16px;
				font-weight: 500;
				color: $gray-800;
			}

			.offer_price {
				font-size: 16px;
				font-weight: 500;

				span {
					color: $main-red;

					&:empty {
						color: $main-blue;
					}
				}
			}
		}
	}

	.shopping_cart_point {
		margin-top: 1rem;
		padding: 1rem;
		background-color: $white;
		border-radius: 5px;

		.first {
			.section_title {
				position: relative;
				display: flex;
				align-items: center;
				font-size: 20px;
				font-weight: 500;
				color: $main-blue;
	
				&:before {
					content: "";
					display: inline-block;
					margin-right: .5rem;
					width: 10px;
					height: 30px;
					background-color: $main-red;
				}	
			}

			.icon {
				margin-right: .5rem;
			}
		}

		.second {
			
			p {
				padding: .5rem 1rem;
				font-size: 20px;
				font-weight: 500;
				color: $blue-800;
				background-color: $gray-100;	
				border-radius: 5px;

				@include media-breakpoint-down(lg) {
					text-align: center;
				}

				.unit-point {
					font-size: 20px;
					font-weight: 900;
					color: $main-red;
	
					&:after {
						content: attr(data-unit);
						margin-left: .5rem;
						color: $main-blue;						
					}
				}
			}	
		}

		.third {
			.point-swiper {
				.point-card {

					.card-img {
						position: relative;
				
						&:hover {
							img {
								&:nth-of-type(2) {
									opacity: 1;
								}	
							}
						}
				
						img {
				
							&:nth-of-type(2) {
								position: absolute;
								top: 0;
								left: 0;
								opacity: 0;
							}
						}
					}
				
					.card-title {
						font-size: 1rem;
						text-align: left;
						
						color: $main-blue;
					}
				
					.card-content {
						text-align: left;
						p {
							font-size: 14px;
							color: #a1a1a1;

							span {
								font-size: 16px;
								font-weight: bold;
								color: $main-red;

								&:before {
									content: attr(data-symbol);
								}
							}
						}
					}

					.card-action {
						margin-top: .5rem;

						button {
							width: 100%;
						}
					}
				}

				.pointWeb-button-prev {
					left: 0;
					width: inherit;
		
					&:before {
						content: "";
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 4px 8px 4px 0;
						border-color: transparent #959595 transparent transparent;
					}
		
					&:after {
						content: "";
						height: 100%;
						width: 2px;
						background-color: #959595;
						margin-left: .5rem;
					}
				}
		
				.pointWeb-button-next {
					right: 0;
					width: inherit;
					transform: rotate(180deg);
		
					&:before {
						content: "";
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 4px 8px 4px 0;
						border-color: transparent #959595 transparent transparent;
					}
		
					&:after {
						content: "";
						height: 100%;
						width: 2px;
						background-color: #959595;
						margin-left: .5rem;
					}
				}
		
				.pointMobile-button-prev {
					left: calc(100% -  70px);
					width: inherit;
		
					&:after {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 33px;
						height: 33px;
						background-color: rgba(17, 28, 71, 0.5);
						color: $white;
						border-radius: 5px;
						font-size: 16px;
						font-weight: bold;
					}
				}
		
				.pointMobile-button-next {
					right: 0;
					width: inherit;
		
					&:after {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 33px;
						height: 33px;
						background-color: rgba(17, 28, 71, 0.5);
						color: $white;
						border-radius: 5px;
						font-size: 16px;
						font-weight: bold;
					}
				}
			}
		}
	}

	.shopping_cart_total {
		margin-top: 1rem;
		padding: 1rem;
		background-color: $white;
		border-radius: 5px;

		> div {
			padding: 1rem 0;

			&:not(:last-child) {
				border-bottom: 1px solid $gray-200;
			}
		}

		.first {
			> div {
				> div {
					&:first-child {
						text-align: left;
		
						@include media-breakpoint-down(lg) {
							text-align: center;
						}
					}
		
					&:last-child {
						text-align: right;
		
						@include media-breakpoint-down(lg) {
							margin-top: 1rem;
							text-align: center;
						}
					}
				}
			}

			.count {
				font-size: 20px;
				font-weight: 600;
				color: $gray-800;

				span {
					color: $main-red;
				}
			}

			.list_total {
				font-size: 20px;
				font-weight: bold;
				color: $gray-800;
				
				span {
					color: $main-red;

					&:before {
						content: attr(data-symbol);
						color: $gray-800;
					}
				}
			}
		}

		.second {
			h6 {
				margin: 0;
				font-size: 16px;
				font-weight: 600;
				color: #3d5dc1;

				@include media-breakpoint-down(lg) {
					margin-bottom: .5rem;
				}
			}

			.discount-code {
				margin-top: 1rem;
			}
		}

		.third {
			h6 {
				margin-bottom: 0;
				font-size: 16px;
				color: $gray-800;
				text-align: right;
			}

			span {
				font-size: 20px;
				font-weight: 500;
				color: $main-red;

				&:before {
					content: attr(data-symbol);
				}
			}
		}

		.fourth {
			h6 {
				margin-bottom: 0;
				font-size: 16px;
				color: $gray-800;
				text-align: right;
			}

			.finan-total {
				span {
					font-size: 20px;
					font-weight: 500;
					color: $main-red;
	
					&:before {
						content: attr(data-symbol);
					}
				}
			}

			.final-check {
				@include media-breakpoint-down(lg) {
					margin-top: 1rem;
				}
				button {
					width: 100%;
				}
			}

			.earn-point {
				button {
					width: 100%;
					color: $white;
					background-color: $other-002;
				}
			}
		}
	}

	.keep_shopping_btn {
		a {
			font-size: 20px;
			font-weight: 500;
			color: $blue-005;

			.icon {
				margin-left: .5rem;
			}
		}
		
	}

	.shopping_cart_like {
		margin-top: 4rem;
		padding: 1rem;
		background-color: $white;
		border-radius: 5px;

		.section_title {
			position: relative;
			display: flex;
			align-items: center;
			font-size: 20px;
			font-weight: 500;
			color: $main-blue;

			&:before {
				content: "";
				display: inline-block;
				margin-right: .5rem;
				width: 10px;
				height: 30px;
				background-color: $main-red;
			}	
		}

		.like-swiper {
			.likeWeb-button-prev {
				left: 0;
				width: inherit;
	
				&:before {
					content: "";
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 4px 8px 4px 0;
					border-color: transparent #959595 transparent transparent;
				}
	
				&:after {
					content: "";
					height: 100%;
					width: 2px;
					background-color: #959595;
					margin-left: .5rem;
				}
			}
	
			.likeWeb-button-next {
				right: 0;
				width: inherit;
				transform: rotate(180deg);
	
				&:before {
					content: "";
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 4px 8px 4px 0;
					border-color: transparent #959595 transparent transparent;
				}
	
				&:after {
					content: "";
					height: 100%;
					width: 2px;
					background-color: #959595;
					margin-left: .5rem;
				}
			}
	
			.likeMobile-button-prev {
				left: calc(100% -  70px);
				width: inherit;
	
				&:after {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 33px;
					height: 33px;
					background-color: rgba(17, 28, 71, 0.5);
					color: $white;
					border-radius: 5px;
					font-size: 16px;
					font-weight: bold;
				}
			}
	
			.likeMobile-button-next {
				right: 0;
				width: inherit;
	
				&:after {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 33px;
					height: 33px;
					background-color: rgba(17, 28, 71, 0.5);
					color: $white;
					border-radius: 5px;
					font-size: 16px;
					font-weight: bold;
				}
			}
		}
	}

	form#step-second-form {
		.container {
			max-width: 800px;

			.delivery-type {
				display: none;
			}

			.invoice-type {
				display: none;
			}
		}
	}

	.step_second_section {
		margin-top: 1rem;
		padding: 1rem;
		background-color: $white;
		border-radius: 5px;

		.section_title {
			padding-bottom: .5rem;
			border-bottom: 1px solid $gray-200;

			h5 {
				margin-bottom: 0;
				font-size: 20px;
				font-weight: 600;
				color: #3d5dc1;

				img {
					margin-right: .5rem;
				}
			}
		}

		.form-check {
			@include media-breakpoint-down(lg) {
				padding-left: 0;
			}
		}

		.tip {
			margin-top: .5rem;
			font-size: 16px;
			line-height: 1.5;
			color: #8c8c8c;
		}
	}

	.shopping_cart_delivery_section {}

	.shopping_cart_pay_section {}

	.shopping_cart_orderer_section {
		.check_label {
			margin-top: .5rem;

			.checkmark {
				padding-right: 1rem;
				margin-right: .5rem;
			}
		}	
	}

	.shopping_cart_recipient_section {

		.mt-lg-n3 {
			@include media-breakpoint-up(lg) {
				margin-top: -1rem;
			}
		}	
	}

	.shopping_cart_invoice_section {
		.check_label {
			display: inline-block;
			padding-left: 2rem;
			font-size: 14px;
			color: $gray-600;

			.checkmark {
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		.invoice-person, .invoice-company {
			.form-check {
				padding-left: 0;

				.radio_label {
					font-size: 16px;

					&.active {
						.radiomark {
							&:after {
								display: block;
							}
						}
					}
				}
			}
		}
	}

	.shopping_cart_remark {}

	.shopping_cart_delivery_store {
		button {
			width: 100%;
		}
	}

	.shopping_cart_action {
		button {
			width: 100%;
			
			&.btnBlud003 {
				border: 0;

				&:hover {
					border: 0;
				}
			}
		}
	}

	.step_third_section {
		margin-top: 1rem;
		padding: 1rem;
		background-color: $white;
		border-radius: 5px;

		.section_title {
			padding-bottom: .5rem;

			h5 {
				margin-bottom: 0;
				font-size: 20px;
				font-weight: 600;
				color: #3d5dc1;

				img {
					margin-right: .5rem;
				}
			}

			button {
				width: 100%;
			}
		}	

		.check-message {
			padding: 1rem 0;
			border-top: 1px solid $blue-800;
			border-bottom: 1px solid $blue-800;

			p {
				font-size: 18px;
				color: $gray-800;

				span {
					color: $main-red;
				}
			}
		}

		.order-info {
			.col {
				padding-top: 1rem;

				p {
					
					&:last-child {
						padding-bottom: 1rem;
						border-bottom: 1px solid $gray-200;
					}
				}
			}
		}

		.shopping_cart_check_list {
			
			.web_cart {
				.content_header {
					background-color: $gray-100;
				}
	
				.content_body {
					> .row {
						border-bottom: solid 1px $gray-200;
					}
	
					.info_filed {
						> .row {
							@include media-breakpoint-down(xl) {
								align-items: center;
							}
						}
	
						h5 {
							font-size: 16px;
						}
	
						.change_btn {
							display: flex;
							justify-content: flex-start;
							align-items: center;
							font-size: 14px;
	
							span {
								color: $blue-006;
								text-decoration: underline;
								cursor: pointer;
							}
						}
					}
	
					.offer_field {
						align-self: flex-start;
	
						.offer_tag {
							padding: .3rem 1.5rem;
							font-size: 13px;
							font-weight: 500;
							color: $black;
							background-color: #daf6ff;
						}
	
						.offer_item {
							margin-top: 0.5rem;
							font-size: 16px;
							font-weight: 500;
							color: $main-red;
						}
					}
	
					.count_field {
						display: flex;
						align-items: center;
						justify-content: center;
	
						> * {
							flex: 1;
						}
	
						.count_btn {
							display: flex;
							align-items: center;
							justify-content: center;
							width: 30px;
							height: 30px;
							max-width: 30px;
							background-color: #f5f5f5;
						}
	
						.count_value {
							-webkit-appearance: none;
							margin: 0 .5rem;
							width: 50px;
							max-width: 50px;
							height: 30px;
							font-size: 16px;
							font-weight: 400;
							border: 0;
							border-radius: 0;
							outline: none;
							box-shadow: none;
							text-align: center;
							background-color: #f5f5f5;
							cursor: text;
						}
					}
	
					.original_field {
						font-size: 16px;
						font-weight: 500;
						color: $gray-600
					}
	
					.discount_field {
						font-size: 16px;
						font-weight: 500;
						color: $blue-800;
					}
	
					.subtotla_field {
						font-size: 16px;
						font-weight: 500;
						color: $main-blue;
					}
	
					.action_field {
						button {
							width: 100%;
							font-size: 16px;
							&.btn-xxl {
								padding-right: .5rem;
								padding-left: .5rem;
							}	
						}
					}
				}
			}

			.mobile_cart {
				.content_header {
					padding-bottom: .5rem;
					border-bottom: 1px solid $gray-100;
				}

				.offer_field {
					align-self: flex-start;

					.offer_tag {
						display: inline-block;
						margin-top: .5rem;
						padding: .3rem 1.5rem;
						width: 100%;
						font-size: 13px;
						font-weight: 500;
						color: $black;
						background-color: #daf6ff;

					}

					.offer_item {
						margin-top: 0.5rem;
						font-size: 16px;
						font-weight: 500;
						color: $main-red;
					}
				}

				.title_filed {
					h5 {
						font-size: 16px;
						color: $main-blue;
					}
				}

				.count_field {
					display: flex;
					align-items: center;
					margin: .5rem 0;

					> * {
						flex: 1;
						border-radius: 5px;
					}

					.count_btn {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 30px;
						height: 30px;
						max-width: 30px;
						background-color: #f5f5f5;
					}

					.count_value {
						-webkit-appearance: none;
						margin: 0 .5rem;
						width: 50px;
						max-width: 50px;
						height: 30px;
						font-size: 16px;
						font-weight: 400;
						border: 0;
						border-radius: 0;
						outline: none;
						box-shadow: none;
						text-align: center;
						background-color: #f5f5f5;
						cursor: text;
					}
				}

				.original_field {
					font-size: 16px;
					font-weight: 500;
					color: $gray-600;
				}

				.discount_field {
					font-size: 16px;
					font-weight: 500;
					color: $blue-800;
				}

				.subtotla_field {
					font-size: 16px;
					font-weight: 500;
					color: $main-blue;
				}

				.action_field {
					button {
						margin-top: .5rem;
						padding-right: .5rem;
						padding-left: .5rem;
						width: 100%;
					}
				}
			}
		}
	}
}

footer {
	background-color: #f5f5f5;	
}

#changeModal {
	.modal-header {
		background-color: $gray-100;

		.modal-title {
			font-size: 18px;
			font-weight: 500;
			color: $blue-800;
		}
	}

	.modal-body {
		.cart_info {
			border-bottom: 1px solid $gray-200;

			span {
				font-size: 14px;
				font-weight: 500;
				color: $gray-800;
			}
			h5 {
				font-size: 16px;
				font-weight: 500;
				color: $main-blue;
			}
		}


		.cart_colors {
			border-bottom: 1px solid $gray-200;

			.cart-color-items {
				display: flex;
				flex-wrap: wrap;

				.cart-color-item {
					display: flex;
					align-items: center;
					margin-top: 1rem;
					margin-right: 0.5em;
					padding: 5px 1rem 5px 5px;
					cursor: pointer;

					&.active {
						background-color: $gray-200;
						border-radius: 24px;

						img {
							border: 1px solid $white;
						}
					}
				}
			}
		}

		.cart_size {
			border-bottom: 1px solid $gray-200;

			.cart-size-items {
				display: flex;
				flex-wrap: wrap;

				.cart-size-item {
					display: flex;
					align-items: center;
					margin-top: 1rem;
					margin-right: 0.5em;
					padding: 3px;
					width: 50px;
					height: 50px;
					border-radius: 50%;
					cursor: pointer;

					&.active {
						border: 2px solid $blue-700;

						span {
							background-color: $blue-700;
						}
					}

					&.sold_out {

						span {
							color: #c4c4c4;
							background-color: #eaeaea;
							text-decoration: line-through;
						}
					}

					span {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 40px;
						height: 40px;
						border-radius: 50%;
						color: $white;
						background-color: $other-001;
					}
				}
			}
		}
	}

	.modal-footer {
		border: 0;
	}
}

