@import "Ginkgo";
@import "bootstrap/bootstrap";
@import "components/color";
@import "components/input";
@import "components/link";
@import "components/btn";
@import "layout/header";
@import "layout/footer";


main {
	position: relative;
}

.title-boxs {
	position: relative;
	background-color: #efefef;

	.title-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@include media-breakpoint-down(lg) {
			align-items: flex-start;
			margin-top: 1rem;
			padding-left: 12px;
		}

		h2 {
			display: flex;			
			align-items: center;
			justify-content: center;
			color: $action-logout;
	
			&:before {
				content: '';
				display: inline-block;
				margin-right: 1rem;
				width: 8px;
				height: 45px;
				background-color: $action-logout;
	
				@include media-breakpoint-down(lg) {
					margin-right: 0.5rem;
					height: 30px;
				}
			}
		}

		.title-bread {
			font-size: .85rem; 
	
			@include media-breakpoint-down(lg) {
				margin-right: 1rem;
			}
			
		
			.title-bread-item {
		
				> a {
					color: $main-blue;
		
					&:hover {
						text-decoration: underline !important;
					}
				}
		
				&.item-active {
					color: $main-red;
				}
		
				&:before {
					float: left;
					padding-right: 0.5rem;
					padding-top: 4px !important;
					color: $gray-600 !important;
				}
			}
		}
	}

	.title-bg {
		
		// background-image: url('../images/title-bg-pic/bg-Brand-02.webp');
		// background-repeat: no-repeat;
		// background-size: cover;
		// height: 250px;
		img {
			width: 100%;
		}

		@include media-breakpoint-down(lg) {
			// height: 150px;
		}
	}

	
}

.store-search {
	font-size: 1.125rem;
}

.store-thread {
	padding: .5rem 1rem;
	border-top: 1px solid $gray-200;
	border-bottom: 1px solid $gray-200;
	font-size: 1.125rem;
}

.store-body {
	font-size: 1.125rem;
	color: $gray-800;

	.store-item {
		padding: .5rem 1rem;

		@include media-breakpoint-down(lg) {
			margin-top: 1rem;
			padding: 12px;
		}

		&:nth-of-type(even) {
			background-color: $gray-100;
		}

		.store_heading {
			.store-title {
				margin-top: .5rem;

				@include media-breakpoint-down(lg) {
					margin: 0;
				}
			}
			
			.store_tag {
				display: inline-block;
				width: 70px;
				height: 35px;
				text-align: center;
			}
		}

		.store_address {

			@include media-breakpoint-down(lg) {
				margin-top: 1rem;
			}

			img {
				margin-right: .5rem;

				@include media-breakpoint-down(lg) {
					margin-right: 0;
				}
			}
		}

		.store_tel {

			@include media-breakpoint-down(lg) {
				margin-top: 1rem;
			}

			img {
				@include media-breakpoint-down(lg) {
				}
			}
		}

		.store_time {

			@include media-breakpoint-down(lg) {
				margin-top: 1rem;
			}

			img {

				@include media-breakpoint-down(lg) {
				}
			}
		}

		.store_detail {
			@include media-breakpoint-down (lg) {
				display: inline-block;
				margin-top: 1rem;
				width: 100%;
				text-align: center !important;
			}
		}
	}
}

#storeDetailModal {
	.modal-body {
		span {
			&.modal_info {
				position: relative;
				padding-right: 1rem;
				display: inline-block;
				width: 90px;
				height: 25px;
				color: $blue-800;
				font-weight: 600;
				text-align: justify;
				text-align-last: justify;
				

				&:after {
					content: '：';
					position: absolute;
					top: 0;
					right: 0;
				}
			}

			&.store_tag {
				display: inline-block;
				width: 70px;
				height: 35px;
				text-align: center;
			}

			&.day_tag {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 60px;
				height: 35px;
				color: $white;

				& + span {
					padding-left: .5rem;
					color: $gray-800;
				}
			}
		}
		.modal_box {
		// 	display: flex;
		// 	align-items: flex-start;

			
		}
	}
}


.nav-item {
	padding-right: .5rem;

	@include media-breakpoint-down(md) {
		width: calc(100% / 4) !important;
		height: 68px;
	}

	.nav-link {

		@include media-breakpoint-down(md) {
			font-size: .9rem !important;
		}
		
		&.ac-nav-link {
			padding: 10px 15px;
			color: #4B4B4B;
			font-size: 1rem;
			background-color: $gray-300;
			border: 1px solid $gray-400;
			margin: 0 auto;

			@include media-breakpoint-down(md) {
				// width: 65% !important;
				height: 68px;
				// margin-left: 0;
			}

			&.active {
				color: $white;
				background-color: $blue-700;
				border: 1px solid $blue-700;
			} 
		}
	}
}





