@import "Ginkgo";
@import "bootstrap/bootstrap";
@import "components/color";
@import "components/input";
@import "components/link";
@import "components/btn";
@import "layout/header";
@import "layout/footer";


main {
	position: relative;
}

// banner 
.title-boxs {
	position: relative;
	background-color: #efefef;

	.title-content {
		display: flex;
		flex-direction: column;

		@include media-breakpoint-down(lg) {
			align-items: flex-start;
			margin-top: 1rem;
			padding-left: 6px;
		}

		h2 {
			display: flex;			
			align-items: center;
			// justify-content: center;
			color: $action-logout;
	
			&:before {
				content: '';
				display: inline-block;
				margin-right: 1rem;
				width: 8px;
				height: 45px;
				background-color: $action-logout;
	
				@include media-breakpoint-down(lg) {
					margin-right: 0.5rem;
					height: 30px;
				}
			}
		}

		.title-bread {
			padding-left: 24px;
			font-size: .85rem; 
	
			@include media-breakpoint-down(lg) {				
				margin-right: 1rem;
				padding-left: 24px;
			}
			
		
			.title-bread-item {
		
				> a {
					color: $main-blue;
		
					&:hover {
						text-decoration: underline !important;
					}
				}
		
				&.item-active {
					color: $main-red;
				}
		
				&:before {
					float: left;
					padding-right: 0.5rem;
					padding-top: 4px !important;
					color: $gray-600 !important;
				}
			}
		}
	}

	.title-bg {
		
		// background-image: url('../images/title-bg-pic/bg-Brand-02.webp');
		// background-repeat: no-repeat;
		// background-size: cover;
		// height: 250px;
		img {
			width: 100%;
		}

		@include media-breakpoint-down(lg) {
			// height: 150px;
		}
	}

	
}

// 店鋪資訊
.store-search {
	font-size: 1.125rem;
}

.store-thread {
	padding: .5rem 1rem;
	border-top: 1px solid $gray-200;
	border-bottom: 1px solid $gray-200;
	font-size: 1.125rem;
}

.store-body {
	font-size: 1.125rem;
	color: $gray-800;

	.store-item {
		padding: .5rem 1rem;

		@include media-breakpoint-down(lg) {
			margin-top: 1rem;
			padding: 12px;
		}

		&:nth-of-type(even) {
			background-color: $gray-100;
		}

		.store_heading {
			.store-title {
				margin-top: .5rem;

				@include media-breakpoint-down(lg) {
					margin: 0;
				}
			}
			
			.store_tag {
				display: inline-block;
				width: 70px;
				height: 35px;
				text-align: center;
			}
		}

		.store_address {

			@include media-breakpoint-down(lg) {
				margin-top: 1rem;
			}

			img {
				margin-right: .5rem;

				@include media-breakpoint-down(lg) {
					margin-right: 0;
				}
			}
		}

		.store_tel {

			@include media-breakpoint-down(lg) {
				margin-top: 1rem;
			}

			img {
				@include media-breakpoint-down(lg) {
				}
			}
		}

		.store_time {

			@include media-breakpoint-down(lg) {
				margin-top: 1rem;
			}

			img {

				@include media-breakpoint-down(lg) {
				}
			}
		}

		.store_detail {
			@include media-breakpoint-down (lg) {
				display: inline-block;
				margin-top: 1rem;
				width: 100%;
				text-align: center !important;
			}
		}
	}
}

#storeDetailModal {
	.modal-body {
		span {
			&.modal_info {
				position: relative;
				padding-right: 1rem;
				display: inline-block;
				width: 90px;
				height: 25px;
				color: $blue-800;
				font-weight: 600;
				text-align: justify;
				text-align-last: justify;
				

				&:after {
					content: '：';
					position: absolute;
					top: 0;
					right: 0;
				}
			}

			&.store_tag {
				display: inline-block;
				width: 70px;
				height: 35px;
				text-align: center;
			}

			&.day_tag {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 60px;
				height: 35px;
				color: $white;

				& + span {
					padding-left: .5rem;
					color: $gray-800;
				}
			}
		}
		.modal_box {
		// 	display: flex;
		// 	align-items: flex-start;

			
		}
	}
}

// 三花誌
.info-nav {
	.nav {
		&.web-nav {
			position: relative;
			border: 0;

			.nav-item {
				&:not(:last-child) {
					.nav-link {
						&:after {
							content: "｜";
							position: absolute;
							right: -8px;
							color: $gray-600;
						}
					}
				}
	
				.nav-link {
					position: relative;
					display: flex;
					align-items: center;
					color: $gray-600;
		
					&.active {
						color: $main-red;
						font-weight: 600;
					}
				}
			}
		}		
	}

	.dropdown {
		&.mobile-nav {
			.dropdown-menu {
				// width: 100%;
	
				.nav-link {
					color: $gray-600;

					&.active {
						color: $main-red;
					}
				}
			}
		}
	}
	
}

.featured-articles {
	.title {
		position: relative;
		margin-bottom: 0;
		padding-bottom: 1rem;
		font-size: 24px;
		font-weight: 500;
		color: $gray-800;
		border-bottom: 3px solid $gray-200;

		@include media-breakpoint-down(lg) {
			font-size: 20px;
		}

		&:after {
			content: "";
			position: absolute;
			bottom: -3px;
			left: 0;
			display: inline-block;
			width: 10%;
			height: 3px;
			background-color: $main-red;

			@include media-breakpoint-down(lg) {
				width: 30%;
			}
		}
	}

	.article-item {
		@include media-breakpoint-down(lg) {
			margin-bottom: 2rem;
		}

		img {
			@include media-breakpoint-down(lg) {
				height: 100%;
			}
		}

		.article_desc {
			-webkit-line-clamp: 2;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;

			@include media-breakpoint-down(lg) {
				-webkit-line-clamp: 3;

				&:hover {
					color: $main-red;
				}
			}

			span {
				display: inline-block;
			}
		}

		.article_from {
			display: flex;
			justify-content: space-between;
			color: $gray-600;

			@include media-breakpoint-down(lg) {
				flex-direction: column;

				a {
					padding: 0;
					height: 0;
				}
			}
		}

	}
}

.current-magazine {
	.magazine-title {
		position: relative;
		padding: 1rem 0;
		border-top: 3px solid $gray-200;
		border-bottom: 3px solid $gray-200;

		

		&:before {
			content: "";
			position: absolute;
			top: -3px;
			left: 0;
			display: inline-block;
			width: 12%;
			height: 3px;
			background-color: $main-red;

			@include media-breakpoint-down(lg) {
				width: 30%;
			}
		}

		&:after {
			content: "";
			position: absolute;
			bottom: -3px;
			left: 0;
			display: inline-block;
			width: 12%;
			height: 3px;
			background-color: $main-red;

			@include media-breakpoint-down(lg) {
				width: 30%;
			}
		}

		h3 {
			display: flex;
			align-items: center;
			margin-bottom: 0;
			font-size: 24px;
			font-weight: 500;
			color: $gray-800;

			@include media-breakpoint-down(lg) {
				font-size: 16px;
			}

			span {
				font-weight: normal;
				color: inherit;

				@include media-breakpoint-down(lg) {
					font-size: 16px;
				}
			}
		}

		span {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 20px;
			font-weight: 600;
			color: #36558b;
		}
	}	
}

.other-magazine {
	.title {
		position: relative;
		margin-bottom: 0;
		padding-bottom: 1rem;
		font-size: 24px;
		font-weight: 500;
		color: $gray-800;
		border-bottom: 3px solid $gray-200;

		@include media-breakpoint-down(lg) {
			font-size: 20px;
		}

		&:after {
			content: "";
			position: absolute;
			bottom: -3px;
			left: 0;
			display: inline-block;
			width: 12%;
			height: 3px;
			background-color: $main-red;

			@include media-breakpoint-down(lg) {
				width: 30%;
			}
		}
	}

	.swiper {
		.swiper-wrapper {
			// margin: 0 1rem;
		}

		.swiper-slide {
			// padding: 0 2rem;
		}

		.ma-button-prev {
			left: 0;
			width: inherit;

			&:before {
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 4px 8px 4px 0;
				border-color: transparent #959595 transparent transparent;
			}

			&:after {
				content: "";
				height: 100%;
				width: 2px;
				background-color: #959595;
				margin-left: .5rem;
			}
		}

		.ma-button-next {
			right: 0;
			width: inherit;
			transform: rotate(180deg);

			&:before {
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 4px 8px 4px 0;
				border-color: transparent #959595 transparent transparent;
			}

			&:after {
				content: "";
				height: 100%;
				width: 2px;
				background-color: #959595;
				margin-left: .5rem;
			}
		}
		
	}
	.magazine-card {
		border: 0;

		.card-title {
			font-size: 20px;
			font-weight: 600;
			color: $blue-800;

			@include media-breakpoint-down(lg) {
				font-size: 18px;
			}
		}

		.card-sub-title {
			font-size: 18px;
			color: $gray-800;

			@include media-breakpoint-down(lg) {
				font-size: 16px;
			}
		}

		.card-body {

			.icon_box {
				display: flex;
				justify-content: space-between;
				height: 100%;

				.icon_item {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 50px;
					height: 50px;
					color: $gray-200;
					background-color: $gray-100;
					border: 1px solid $gray-100;
					border-radius: 5px;

					i {
						font-size: 20px;
						color: $other-002;
						background-color: transparent;
					}
				}
			}
		}
	}
}


.nav-item {
	padding-right: .5rem;

	@include media-breakpoint-down(md) {
		width: calc(100% / 4) !important;
		height: 68px;
	}

	.nav-link {

		@include media-breakpoint-down(md) {
			font-size: .9rem !important;
		}
		
		&.ac-nav-link {
			padding: 10px 11px;
			color: #4B4B4B;
			font-size: 1rem;
			background-color: $gray-300;
			border: 1px solid $gray-400;
			margin: 0 auto;

			@include media-breakpoint-down(md) {
				// width: 65% !important;
				height: 68px;
				// margin-left: 0;
			}

			&.active {
				color: $white;
				background-color: $blue-700;
				border: 1px solid $blue-700;
			} 
		}
	}
}


// 紅利點數
.point-card {

	.card-img {
		position: relative;

		&:hover {
			img {
				&:nth-of-type(2) {
					opacity: 1;
				}	
			}
		}

		img {

			&:nth-of-type(2) {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
			}
		}
	}

	.card-body {
		font-size: 1rem;
		text-align: left;
		padding: 0;
		color: #111C47;
	}

	.card-content {
		text-align: left;
		p {
			font-size: 14px;
			color: #a1a1a1;

			span {
				font-size: 16px;
				font-weight: bold;
				color: #B10E0E;

				&:before {
					content: attr(data-symbol);
				}
			}
		}
	}

	.card-action {
		margin-top: .5rem;

		button {
			width: 100%;
		}
	}
}

.z666 {
	z-index: 666;
}

