footer { padding: 7rem 0 0 0; }
@media screen and (max-width: 768px) and (min-width: 0) { footer { padding: 1rem 0; } }
footer .footer-first { padding: 6rem 0; background-color: var(--main-blue); }
@media screen and (max-width: 768px) and (min-width: 0) { footer .footer-first { padding: 1rem 0; } }
footer .footer-second { padding: 3rem 0; background-color: rgba(17, 28, 71, 0.5); }
footer .footer-third { padding: 2rem 0; font-size: 13px; color: #111c47; }
footer .footer_widget.socilas_widget { display: flex; flex-direction: column; justify-content: space-between; height: 100%; }
@media screen and (max-width: 768px) and (min-width: 0) { footer .footer_widget.socilas_widget { padding: 1rem 0; text-align: center; } }
footer .footer_widget.socilas_widget .ul_li_socials { display: flex; padding: 0; list-style: none; }
@media screen and (max-width: 768px) and (min-width: 0) { footer .footer_widget.socilas_widget .ul_li_socials { justify-content: center; } }
footer .footer_widget.socilas_widget .ul_li_socials li { padding: 1rem 1.5rem 1rem 0; }
footer .footer_widget.socilas_widget .ul_li_socials li a i { font-size: 30px; color: #fff; opacity: .6; }
@media screen and (max-width: 768px) and (min-width: 0) { footer .footer_widget.socilas_widget .fm_footer_newsletter .footer_widget_title { text-align: left; } }
@media screen and (max-width: 768px) and (min-width: 0) { footer .footer_widget.socilas_widget .fm_footer_newsletter .footer_widget_text { text-align: left; } }
footer .footer_widget.socilas_widget .fm_footer_newsletter .placeholder-icon { position: absolute; top: 50%; transform: translateY(-50%); pointer-events: none; font-size: 24px; padding: 0 1rem; }
footer .footer_widget.socilas_widget .fm_footer_newsletter .btn { background-color: var(--main-red); color: var(--main-white); }
footer .footer_widget.socilas_widget .fm_footer_newsletter .btn:hover i { transform: scale(1.05); }
footer .footer_widget .footer_widget_title { font-size: 18px; font-weight: 600; color: #eee; }
footer .footer_widget .footer_widget_text { font-size: 15px; font-weight: 300; line-height: 2; color: #fff; opacity: .6; }
footer .footer_widget .ul_li_links { padding: 0; list-style: none; }
footer .footer_widget .ul_li_links a { font-size: 15px; font-size: 300; line-height: 2; color: #c9d1f5; }
footer .footer_widget .ul_li_links a:hover { text-decoration: underline !important; }
footer .footer_widget .mobile-links .accordion .accordion-item { border: 0; background-color: transparent; border-bottom: 1px solid rgba(255, 255, 255, 0.35); }
footer .footer_widget .mobile-links .accordion .accordion-item .accordion-header { background-color: transparent; }
footer .footer_widget .mobile-links .accordion .accordion-item .accordion-header .accordion-button { background-color: transparent; color: var(--main-white); padding: 1rem 0; }
footer .footer_widget .mobile-links .accordion .accordion-item .accordion-header .accordion-button:focus { box-shadow: none; }
footer .footer_widget .mobile-links .accordion .accordion-item .accordion-header .accordion-button[aria-expanded]:after { background-image: unset; transform: unset; }
footer .footer_widget .mobile-links .accordion .accordion-item .accordion-header .accordion-button[aria-expanded="true"]:after { content: '\f068'; font-family: "Font Awesome 6 Pro"; }
footer .footer_widget .mobile-links .accordion .accordion-item .accordion-header .accordion-button[aria-expanded="false"]:after { content: '\2b'; font-family: "Font Awesome 6 Pro"; }
footer .footer_widget .mobile-links .accordion .accordion-item .accordion-header .footer_widget_title { font-size: 16px; font-weight: 600; color: #eee; }
footer .footer_widget .mobile-links .accordion .accordion-item .accordion-header .ul_li_links { padding: 0; list-style: none; }
footer .footer_widget .mobile-links .accordion .accordion-item .accordion-body { padding: 0; }
footer .footer_widget .mobile-links .accordion .accordion-item .accordion-body .ul_li_links { padding: 0 0 0 1.5rem; }
footer .footer_widget .mobile-links .accordion .accordion-item .accordion-body .ul_li_links:first-child { margin-bottom: 0; }
footer .footer_widget .mobile-links .accordion .accordion-item .accordion-body .ul_li_links a { font-size: 16px; font-size: 300; line-height: 2; color: #c9d1f5; }
