@import "bootstrap/bootstrap";
@import "color";

.btn-xxl { padding: 0.5rem 1rem;}
.btn-xl { padding: 0.3rem 1rem;}
.btn-l { padding: 0.2rem 1rem;}
.btn-s { padding: 0.1rem 1rem;}
.btn-xs { padding: 0rem 1rem;}

.btnSF {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0.3rem;

	&.btnMainBlud {
		color: $white;
		background-color: $main-blue;
		border: 0;

		&:hover {
			opacity: .9;
		}
	}

	&.btnBlud001 {
		color: $white;
		background-color: $blue-004;
		border: 0;

		&:hover {
			background-color: $blue-700;
		}
	}

	&.btnOtherGreen {
		color: $white;
		background-color: $other-003;
		border: 0;

		&:hover {
			opacity: .9;
		}
	}

	&.btnOtherGray {
		color: $white;
		background-color: $other-001;
		border: 0;

		&:hover {
			background-color: $blue-004;
		}
	}

	&.btnOtherGray-line {
		color: $other-001;
		background-color: $white;
		border: 1px solid $other-001;

		&:hover {
			color: $white;
			background-color: $blue-004;
			border: 1px solid $white;
		}
	}
}